camel-quarkus-cxf-soap-wsrm/quarkus-root/src/main/resources/wsdl/ContactService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://de.jochenr.camel-quarkus/cxf-soap/ContactService"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ContactService"
	targetNamespace="http://de.jochenr.camel-quarkus/cxf-soap/ContactService"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="BN_Policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<wsrmp:RMAssertion xmlns:wsrmp="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>				
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://de.jochenr.camel-quarkus/cxf-soap/ContactService"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="http://de.jochenr.camel-quarkus/cxf-soap/ContactService" version="1.0">
			<xs:element name="addContact" type="tns:addContact" />
			<xs:complexType name="addContact">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="tns:Contact" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Contact">
				<xs:sequence>
					<xs:element form="qualified" minOccurs="0" name="name" type="xs:string" />
					<xs:element form="qualified" minOccurs="0" name="address" type="tns:Address" />
					<xs:element form="qualified" minOccurs="0" name="type" type="tns:ContactType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Address">
				<xs:sequence>
					<xs:element form="qualified" minOccurs="0" name="city" type="xs:string" />
					<xs:element form="qualified" minOccurs="0" name="street" type="xs:string" />
				</xs:sequence>
			</xs:complexType>			
			<xs:complexType name="Contacts">
				<xs:sequence>
					<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="contacts"
						nillable="true" type="tns:Contact" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ContactType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="PERSONAL" />
					<xs:enumeration value="WORK" />
					<xs:enumeration value="OTHER" />
				</xs:restriction>
			</xs:simpleType>			
		</xs:schema>
	</wsdl:types>	
	<wsdl:message name="addContact">
		<wsdl:part element="tns:addContact" name="parameters">
		</wsdl:part>
	</wsdl:message>	>
	<wsdl:portType name="ContactWS">		
		<wsdl:operation name="addContact">
			<wsdl:input message="tns:addContact" name="addContact">
			</wsdl:input>			
		</wsdl:operation>		
	</wsdl:portType>
	<wsdl:binding name="ContactServiceSoapBinding" type="tns:ContactWS">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN_Policy" />
		</wsp:Policy>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />		
		<wsdl:operation name="addContact">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="addContact">
				<soap:body use="literal" />
			</wsdl:input>			
		</wsdl:operation>		
	</wsdl:binding>
	<wsdl:service name="ContactService">
		<wsdl:port binding="tns:ContactServiceSoapBinding" name="ContactServicePort">
			
			<!-- working -->
			<!--
			<soap:address location="http://localhost:8180/cxfservices/contact" />
			-->

			<!-- NOT Working, because override from code does not work any more! -->
			<soap:address location="https://nowhere.com:8080/mustgetoverridden" />
			
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>